on:
  project_card:
    types: [moved]

jobs:
  create_issue_branch_job:
    runs-on: ubuntu-latest
    steps:
      - name: Create dev ide in GCP
        run: echo ${{ github.event.project_column.project_column.name }}
